!!!5
%html{'ng-app' => "lostfoundspace", 'lang' => "en"}

  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes" }

    %script{type: "text/javascript", src: "//use.typekit.net/yhk8con.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}
      catch(e){}

    %title= content_for?(:title) ? yield(:title) : "Lost and Found in Space"

    = stylesheet_link_tag "application"
    = csrf_meta_tag

  %body
    = yield
    
    = javascript_include_tag "application"
